*{
    background-color: slategray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    text-align: center;
}

.teal {
    color: teal;
}

.mainBackground {
    background-color: snow;
    font-size: medium;

}

.header{
    text-align: right;
    font-size: large;
}

#menu li{
    list-style-type: none;
    display: inline;
    padding: 20px;
  }
.container {
  margin: auto;
  width: 50%;
  border: 3px solid whitesmoke;
  padding: 10px;
}
